@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

.cookie-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.click-enter-active, .click-leave-active {
    transition: transform .3s;
}

.click-enter, .click-leave-to {
    transform: scale(1.2);
}